<% if current_user %>
<h1>User Profile</h1>
<p>
  <strong>Name:</strong>
  <%= current_user.name %>
</p>
<p>
  <strong>Provider:</strong>
  <%= current_user.provider %>
</p>
<p>
  <strong>OmniAuth UID:</strong>
  <%= current_user.uid %>
</p>
<p><%= link_to "Log out", signout_path %></p>
<% else %>
<div class="page-header">
  <h1>Sign In</h1>
</div>


<div class="hero-unit">
  <ul class="well thumbnails">
    <%= render "shared/external_signin" %>
  </ul>
  <br>
  <p class="pull-right">
    <strong>Don't use these services?</strong>
    <%= link_to "Create an account", new_identity_path %> or login below.
  </p>
</div>

<div class="well form"> 
  <%= form_tag "/auth/identity/callback", :html => {:class => 'form'} do %>
  <div class="control-group">
    <%= label_tag :auth_key, "Email", :class => 'control-label' %>
    <div class="controls">
      <%= text_field_tag :auth_key, nil, :class => 'text_field' %>
    </div>
  </div>

  <div class="control-group">
    <div class="controls">
      <%= label_tag :password, "Password", :class => 'control' %>
      <%= password_field_tag :password, nil, :class => 'control' %>
    </div>
  </div>

  <div class="form-actions">
    <%= submit_tag "Login", :class => 'btn' %>
  </div>
  <% end %>
</div>
<% end %>