<h1>Recordings</h1>

<%= form_tag recordings_path, :method => 'get' do %>
<p>
  <div class="control-group">
    <div class="well form-search">
      <%= text_field_tag :search, params[:search], :class => "input-medium search-query" %>
      <%= submit_tag "Search", :name => nil, :class => 'btn' 'btn-mini' %>
    </div>
  </div>
</p>
<% end %>

<%= render 'shared/recordings_index' %>

<%= link_to 'New', new_recording_path, :class => 'btn btn-primary' %>
